@page
@model BD9.Pages.Models.CreateModel
 <h2>Добавление нового устройства</h2>
<form method="post">
    <p>
        <label>Производитель</label><br />
        <input name="firm" />
    </p>
    <p><label>Название модели</label><br />
        <input name="name" />
    </p>
    <input type="submit" value="Отправить" />
</form>  
